.contact-us {
    padding: 80px;
}

.icon-wrapper {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 16px;

    .icon {
        color: white;
        font-size: 17px;
    }
}